<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148064090130-barb0o5ub033f0hid8smt2jfkn98kk5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148064090130-barb0o5ub033f0hid8smt2jfkn98kk5a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148064090130-e9crhgor2uqflf9rdta9di33akhf9j5u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBe1GdBLGDJG8oI-x9fINkoLYf0gRQzNJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>148064090130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsawakly.shops</string>
	<key>PROJECT_ID</key>
	<string>tsawgly</string>
	<key>STORAGE_BUCKET</key>
	<string>tsawgly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148064090130:ios:17232b81b79ca9987c80cb</string>
	<key>DATABASE_URL</key>
	<string>https://tsawgly-default-rtdb.firebaseio.com</string>
</dict>
</plist>